<div class="row inline bottom" id="ancrehome">
    <div class="col-lg-12">
        <p class="title_t">small presentation of myself</p>
    </div>
</div>

<div class="row inline bloc_color_main">
    <div class="col-lg-12">
        <p class="text_presentation">Hi, My name is LI Jin Hao. I am 27, and had a varied course in my life.
            <br />I started by doing a BTEC in printing, and then went in China for 1 year to learn Kung Fu. On my return to France I joined the police as a security assistant in Paris.
            <br /> Not finding my way in the police, I then worked as a waiter in a restaurant temporarily. Recently, I had the opportunity to enter the POPschool to become Web Developer.</p>
    </div>
</div>

<div class="row inline">
    <div class="col-lg-12">
        <p class="title_presentation">HOBBIES</p>
    </div>
</div>

<div class="row inline">
    <div class="col-lg-2 col-lg-offset-2">
        <div class="row">
            <div class="col-lg-12">
                <p class="subtitle">Kung Fu</p>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <img class="panda2" src="../img/kungfu.jpg" />
                </div>
            </div>
            <div class="row inline bloc_color">
                <div class="col-lg-12">
                    <p class="text_presentation">I learned Kung Fu in China for 1 year.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-2 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-12">
                <p class="subtitle">Badminton</p>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <img class="panda" src="../img/badminton.jpg" />
                </div>
            </div>
            <div class="row inline bloc_color">
                <div class="col-lg-12">
                    <p class="text_presentation">Badminton for 5 years in my youth.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-2 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-12">
                <p class="subtitle">Tree Climbing</p>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <img class="panda2" src="../img/accrobranche.jpg" />
                </div>
            </div>
            <div class="row inline bloc_color">
                <div class="col-lg-12">
                    <p class="text_presentation">When i have some holidays I like to do some tree climbing.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row inline">
    <div class="col-lg-2 col-lg-offset-2">
        <div class="row">
            <div class="col-lg-12">
                <p class="subtitle">Cinema</p>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <img class="panda1" src="../img/cine.jpg" />
                </div>
            </div>
            <div class="row inline bloc_color">
                <div class="col-lg-12">
                    <p class="text_presentation">I love watching movies at the theatre with friends and family.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-12">
                <p class="subtitle">Mangas/Animes</p>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <img class="panda3" src="../img/mangas.png" />
                </div>
            </div>
            <div class="row inline bloc_color">
                <div class="col-lg-12">
                    <p class="text_presentation">I'm quite fond of Mangas ans Animes.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-2 col-lg-offset-1 bottom">
        <div class="row">
            <div class="col-lg-12">
                <p class="subtitle">Video Games</p>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <img class="panda2" src="../img/personnages_jeux_video.jpg" />
                </div>
            </div>
            <div class="row inline bloc_color">
                <div class="col-lg-12">
                    <p class="text_presentation">Who doesn't like video games ?!</p>
                </div>
            </div>
        </div>
    </div>
</div>