<div class="row inline bottom" id="ancrepexp">
    <div class="col-lg-12">
        <p class="title_t">my professionnal experience</p>
    </div>
</div>

<div class="row inline">
    <div class="col-lg-12">
        <p class="title_presentation">Waiter for the restaurant 'Le Chateau du Dragon d'Or' 
            <br /> <span class="date">August 2014 - November 2015</span></p>
        <p class="subtext">Asian restaurant</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <img class="offset" src="../img/cddo.jpg" alt="cddo picture" />
    </div>
</div>

<div class="row inline bottom">
    <div class="col-lg-8 col-lg-offset-2">
        <p class="text_presentation">- Management and serving customers</p>
        <p class="text_presentation">- Appetizers and drinks</p>
        <p class="text_presentation">- Management of payments</p>
    </div>
</div>

<div class="row inline">
    <div class="col-lg-12">
        <p class="title_presentation">Police Officer as "Security Assistant "
            <br /> <span class="date">2007 - 2013</span></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <img class="offset" src="../img/adjoint-securite.jpg" alt="cddo picture" />
    </div>
</div>

<div class="row inline bottom">
    <div class="col-lg-8 col-lg-offset-2">
        <p class="text_presentation">- Conflict management on public roads</p>
        <p class="text_presentation">- Contact with residents and traders of the district</p>
        <p class="text_presentation">- Transfer and transport of persons in custody</p>
        <p class="text_presentation">- Road control</p>
        <p class="text_presentation">- Police emergency intervention</p>
        <p class="text_presentation">- Public reception and management of the police station</p>
    </div>
</div>